<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>staticServer</title>
</head>
<body>
<!-- 碰到js就 <%  %>包起来，求值用= -->
<ul>
    <%dirs.forEach(dir=>{%>
    <li><a href="<%=dir.path%>"><%=dir.name%></a></li>
    <% })%>
</ul>
</body>
</html>
